keras==3.4.1
libclang==18.1.1
lmdb
lxml
Markdown
numpy
opt_einsum
packaging
pandas
pandocfilters
pandas
parso
partd
pexpect
pickleshare
Pillow
pip
platformdirs
plotly
pluggy
ply
pooch
prompt-toolkit
protobuf
psutil
psycopg2
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pycurl
pydantic
pygame
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
pyzmq
qdarkstyle
QtPy
regex
requests
requests-oauthlib
rich
rsa
ruamel.yaml
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tornado
tqdm
traitlets
typing-extensions
urllib3
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard
gunicorn